#startContainer {
    width: 50%;
    position: absolute;
    top: 80%;
    left: 25%;
    right: 25%;
}
#start {
    position: absolute;
    left: 47%;
    right: 53%;
    border-radius: 10rem;
    background-color:crimson;
    color:white;
}
#container{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    margin-right: 10%;
    background-color: grey;
    border-radius: 1rem;
}
body{
    background-color:lightgrey;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
#gameTitle{
    color: white;
    position: absolute;
    left: 40%;
    right: 40%;
    text-align: center;
    top: 5%;
    font-size: 150%;
}
.answer-button{
    position: center;
    border-radius: 10rem;
    background-color:crimson;
    color:white;
}
#questionAnswer{
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
    text-align: center;
    width: 60%;
    height: 40%;
    font-size: 100%;
}
#reset{
    position: center;
    border-radius: 10rem;
    background-color:crimson;
    color:white;

}